@{
    Layout = "_Layout";
}
<h1>Aurora University</h1>
<h3>Igniting Minds, Illumimating Futures</h3>

<p>@Html.ActionLink("See all students","Index","Students")</p>
<p>@Html.ActionLink("See all courses","Index","Courses")</p>