@{
    Layout = "_Layout";
}
<div class="container">
    <h1>Aurora University</h1>
    <h3>Igniting Minds, Illuminating Futures</h3>
</div>
<div class="container">
    <p>@Html.ActionLink("See all students","Index","Students")</p>
    <p>@Html.ActionLink("See all courses","Index","Courses")</p>
</div>