@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Student

<div class="container">
  <h1>Add a New Student</h1>
</div>
<hr />
@using (Html.BeginForm())
{
    <div class="form-container">
        @Html.LabelFor(model => model.StudentName)
        @Html.TextBoxFor(model => model.StudentName)
        @Html.LabelFor(model => model.EnrollDate)
        @Html.TextBoxFor(model => model.EnrollDate, new {type="date"})
    </div>
    <div class="center">
        <input type="submit" value="Add new student" />
    </div>
}