@{
  Layout = "_Layout";
}

@using UniversityRegistrar.Models
@model UniversityRegistrar.Models.Student

<div class="container">
    <h1>Student Details</h1>
    <h3>@Html.DisplayNameFor(model => model.StudentName): @Html.DisplayFor(model => model.StudentName)</h3>
</div>
<div class="container">
@if(@Model.JoinEntities.Count == 0)
{
  <p>This student has not signed up for any courses.</p>
}
else
{
  <h4>The student is enrolled in the following courses:</h4>
  <ul>
  @foreach(CourseStudent join in Model.JoinEntities)
  {
    <li>@join.Course.CourseName</li>
  }
  </ul>
}
</div>
<div class="container">
<p>@Html.ActionLink("Back to all students", "Index")</p>
</div>