@{
    Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course
<div class="container">
    <h1>Delete Course</h1>
</div>
<hr />
<div class="center">
<h2>Are you sure you want to delete @Html.DisplayFor(model => model.CourseName)? This action cannot be undone.</h2>
</div>

@using (Html.BeginForm())
{ <div class="center">
    <input type="submit" value="Delete" class="button" />
</div>
}
<div class="link-container">
    <p>@Html.ActionLink("Back to all courses", "Index")</p>
</div>